# Ignore IntelliJ IDEA project files
.idea/

# Ignore compiled class files
*.class

# Ignore build output (e.g., Maven, Gradle)
target/
out/

# Ignore operating system files
.DS_Store        # macOS
Thumbs.db        # Windows

# Ignore Maven wrapper
mvnw
mvnw.cmd

# Ignore Gradle wrapper
gradlew
gradlew.bat
